/* Sets everything by these stle parameters */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets body background color */
body {
    background-color: #d9dcd6;
}

/* Sets header's style properties */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets title style properties */
#title{
    display: inline-block;
    font-size: 48px;
}

/* sets color of seo in Horiseon */
.seo {
    color: #d9dcd6;
}

/* Sets style properties of navigaiton bar */
.nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    
}

/* Sets the list to inline */
.nav li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color of all "a" as well as gets rid of text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets parapgraph's font size */
p {
    font-size: 16px;
}

/* main photo's style properties */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets properties of the three content files */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets all content's parameters */
.content-paramters {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets parent float Left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets parent float right  */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets all content image parameters */
.content-paramters img {
    max-height: 200px;
}

/* Sets all content h2 parameters */
.content-paramters h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets margins for all individual benefits as well as color */
.benefit-each {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets each h3's margins and text alignment*/
.benefit-each h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets images parameters */
.benefit-each img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
